@use '../../css/variables.scss' as *;
@use '../../css/layout.scss' as *;

.pageWelcome {
    @include flex;
    gap: 4rem;
    height: 39rem;
    justify-content: center;
    margin-left: -1rem;
    a:hover,a:active{
    text-decoration:none;
    }
    .home h3{
    font-size:74px;
    text-align: left;
    color: $main-green;
    font-weight:700;
    }

    .stage{
        width: fit-content;
    }
    .cubespinner{
    animation-name:spincube;

    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-duration:8s;
    transform-style:preserve-3d;
    transform-origin:40px 40px  0;
    }
    .cubespinner div{
        position: absolute;
        width: fit-content;
        height: 80px;
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        font-size: 61px;
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 35px;
        }
        }
    .cubespinner .face1{
        color: $main-indian-red;
        transform:translateZ(40px);
        backface-visibility: hidden;
    }
    .cubespinner .face2{
        color: $main-yellow;
        transform: rotateX(90deg) translateZ(40px);
        backface-visibility: hidden;
    }
    .cubespinner .face3{
        color: $main-indian-red;
        transform:rotateX(180deg)  translateZ(40px);
        backface-visibility: hidden;
    }
    .cubespinner .face4{
        color:$white;
        transform:rotateX(270deg) translateZ(40px);
        backface-visibility: hidden;
    }
    @keyframes spincube {
    from,to {
        transform: rotateX(0deg);
    }
    15% {
        transform: rotateX(90deg);
    }
    25% {
        transform: rotateX(90deg);
    }
    40% {
        transform: rotateX(180deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    65% {
        transform: rotateX(270deg);
    }
    75% {
        transform: rotateX(270deg);
    }
    90% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateX(360deg);
    }
    }
    .body {
        @media (min-width: 1000px) {
        position: absolute;
        right: 1rem;
        bottom: 3rem;
        @include flex;
        align-items: end;
        gap: 6rem;
        }
        .image {
            img {
                border-radius: 50%;
                width: 20rem;
                height: 20rem;
                @media (max-width: 1000px) {
                    display: none;
                }
        }
    }
    .description {
        max-width: 40rem;
        color: #999;
        font-style: italic;
        font-size: 1.3rem;
        text-shadow: 1px 1px 1px $main-yellow;
        @media (max-width: 1000px) {
            padding-top: 1rem;
            font-size: 1rem;
        }
    }
    }

    .me {
        position: relative;
        top: -3rem;
        p {
            font-size: 1.5rem;
            color: $main-yellow;
        }
        .backName {
            font-size: 8.5rem;
            position: absolute;
            left: 3%;
            top: -70%;
            max-width: 5rem;
            z-index: -1;
            color: #444;
            @media (max-width: 800px) {
                font-size: 3rem;
                top: 7rem;
            } 
        }
    .welcome {
        .name, .title {
            height: 45px;
            white-space: nowrap;
            overflow: hidden; 
            font-family: 'corier';  
            color: rgba(255,255,255,.70);
            font-size: 1.7rem;
            position: relative;
            @media (max-width: 700px) {
                font-size: 1.3rem;
                max-width: 300px;
            } 
        }
        #border {
            border-bottom: solid 3px $main-green;
            position: absolute;
            right: -7px;
            width: 21px;
            animation: animated-cursor 600ms steps(30,end) infinite;
        }
        .name {
            animation: animated-text 2s steps(30,end) 1s 1 normal both;
            color: $main-indian-red;
        }
    .title {
        @media (max-width: 700px) {
            font-size: 1.1rem;
            max-width: 260px;
        } 
        text-align: end;
        animation: animated-text 2s steps(30,end) 3s 1 normal both
        }
    }
    @keyframes animated-text{
            from{width: 0;}
            to{width: 450px;}
        }
        @keyframes animated-cursor{
            from{border-bottom-color: $main-green;}
            to{border-bottom-color: transparent;}
        }
    }
}