.pageProjects {
  .projects {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1.5rem;
    .project {
      box-shadow: 0px 0px 10px #999;
      .card {
        max-width: 500px;
        color: rgb(208, 221, 91);
        .image {
          height: 300px;
          width: 450px;
          transition: 0.3s;
          &:hover {
            transform: scale(1.1);
            filter: opacity(0.5);
          }
        }
        @media (max-width: 768px) {
          width: 100%;
          .image {
            width: 100%;
          }
        }
        .card-body {
          max-width: 450px;
          padding: 0.5rem;
          .title {
            text-align: center;
          }
          .description {
            padding: 0.1rem;
            color: white;
          }
          .tags {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: .7rem;
            .redTag {
              border: 1px solid red;
            }
            .yellowTag {
              border: 1px solid yellow;
            }
            .blueTag {
              border: 1px solid lightblue;;
            }
            .orangeTag {
              border: 1px solid orange;
            }
            .redTag, .yellowTag, .blueTag, .orangeTag {
              padding: .5rem;
            }
          }
          .links {
            display: flex;
            justify-content: space-around;
            margin: 0.5rem 0 0 0;
            a {
              color: rgb(255, 255, 255);
              i {
                transition: 0.3s;
                &:hover {
                  transform: scale(1.2);
                  color: rgb(255, 239, 10);
                }
              }
            }
          }
        }
      }
    }
  }
}
