@use './css/layout.scss' as *;
@use './css/variables.scss' as *;

* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    &::selection {
        background-color: $main-orange;
        color: $white;
    }
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #998;
    .App {
        .container {
            position: relative;
            background-color: rgba(68, 65, 65, .2);
            margin: auto;
            height: 100%;
            padding: 1.5rem;
            @include breakpoints(mobile) {
                width: 90%;
            }
            @include breakpoints(small) {
                width: 767px;
            }
            @include breakpoints(medium) {
                width: 970px;
            }
            @include breakpoints(large) {
                width: 70vw;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
            transition: .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
            padding: 2rem;
        .header {
            display: flex;
            justify-content: space-between;
            @media (max-width: 767px) {
                justify-content: center;
                padding: 0 5rem;
            }
            a {
            color: $main-yellow;
            @media (max-width: 767px) {
                padding: 0 1rem;
            }
            .fa-envelope,
            .fa-github,
            .fa-linkedin {
                font-size: 2em;
                background-color: rgb(85, 81, 65);
                color: rgb(255, 254, 247);
                box-shadow: 2px 2px 2px #444, 5px 1px 5px #555,
                2px 2px 10px #444, 2px 2px 3px $black, inset 2px 2px 10px #777,
                inset 2px 2px 10px $black, inset 2px 2px 1px $black,
                inset 2px 2px 10px $black;
                padding: 9px 9px;
                border-radius: 50%;
                animation: animate 3s linear infinite;
                text-shadow: 0 0 50px $main-orange, 0 0 20px $main-orange, 0 0 70px $main-orange,
                0 0 20px $main-orange;
                
            }
            .fa-envelope {
                animation-delay: 0.1s;
            }
            .fa-github {
                animation-delay: 0.2s;
            }
            .fa-linkedin {
                animation-delay: 0.3s;
            }

            @keyframes animate {
                from {
                    filter: hue-rotate(0deg);
                }
                to {
                    filter: hue-rotate(360deg);
                }
                    }
                i {
                    font-size: 2.5rem;
                }
        }
            .contact {
            display: flex;
            gap: 2rem;
            }
        }
        nav {
            display: flex;
            justify-content: end;
            gap: 2rem;
            margin: 1rem 0;
            padding: 1rem 17rem 2rem;
            font-size: 1.3rem;
            background-color: #333;
            @media (max-width: 767px) {
                justify-content: center;
                padding: 1rem 0;
            }
            a {
                color: $main-yellow;
                &:hover {
                transform: scale(1.1);
                color: $main-indian-red;
            }
            }
        }
    }
}
